.attr-icons {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.attr-button {
  filter: grayscale(100%);
  opacity: 0.5;
  padding: 0;
  border-width: 0;
  background: transparent;
}

@media (min-width: 700px) { 
  .attr-button:hover {
    cursor: pointer;
    filter: grayscale(0%);
    opacity: 1;
  }
}

.attr-button-active {
  filter: grayscale(0%);
  -webkit-filter: drop-shadow(0 0 5px #222);
  opacity: 1;
}

.attr-button-active:hover {
  filter: grayscale(0%);
  -webkit-filter: drop-shadow(0 0 5px #222);
  opacity: 1;
}

.attr-icon {
  scale: 0.75;
}