.card-main {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.card-header {
  width: 100%;
  display: flex;
}

.card-id-name {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-name {
  text-align: left;
  padding: 0.5rem;
}

.card-id-rarity {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
}

.card-id {
  flex: 1;
}

.card-close {
  padding-left: 0.5rem;
  cursor: pointer;
}