.plusses {
  align-items: center;
  height: calc(3 / 4 * 99px);;
}

.plus {
  display: flex;
  align-items: center;
  height: 33%;
}

.plus-input {
  width: 40px;
  height: 100%;
  border-width: 0px;
  outline: 0;
  background-color: transparent;
  font-size: 16px;
}