:root {
  min-width: 25.5rem;
}

body {
  place-items: center;
}

.search {
  align-items: center;
  width: 100%;
  padding-left: .5rem;
  padding-right: .5rem;
  column-gap: .5rem;
  display: flex;
  border-radius: .5rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(212 212 216 / var(--tw-border-opacity));
}

.search-form {
  display: flex;
  width: 100%;
  height: 2rem;
  --tw-text-opacity: 1;
  color: rgb(85 85 85 / var(--tw-text-opacity))
}

.search-input {
  width: inherit;
  border-width: 0px;
  outline: 0;
  background-color: transparent;
}

.search-table {
  padding-left: .5rem;
  padding-right: .5rem;
  width: 100%;
  border-width: 0;
}

.search-row {
  padding: 0.5em;
  border-radius: .5rem;
  border: 1px solid transparent;
  font-size: 1em;
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: .5rem;
  cursor: pointer;
  transition: border-color 0.25s;
}

.search-row:hover {
  border-color: #646cff;
}

.search-row:focus-visible {
  outline: 0;
}

.table-cell {
  display: table-cell;
}

.search-icon {
  width: 60px;
  height: 60px;
}

.search-name {
  width: 100%;
  font-family: sans-serif;
  text-align: left;
}

.search-id {
  font-family: Tahoma;
  text-align: right;
}

.text-sm {
  font-size: 1rem;
  line-height: 1.25rem
}