.App {
  position: relative;
  box-sizing: border-box;
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

@media (min-width: 800px) {
  .App {
    width: 60rem;
  }
}

@media (max-width: 800px) {
  .App {
    width: 100vw;
  }
}

.rights {
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.filter + .card {
  height: 0;
  padding: 0;
  margin: 0;
}

img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -khtml-user-drag: none;
  -khtml-user-select: none;
  -moz-user-drag: none;
  -moz-user-select: none;
  -o-user-drag: none;
  -o-user-select: none;
  user-drag: none;
  user-select: none;
}

.filter + .card {
  filter: blur(10px);
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.filter + .search-results {
  filter: blur(10px);
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.card + .search-results {
  filter: blur(10px);
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}