.awakenings {
  display: flex;
}

.awakening {
  display: table-cell;
}

.card {
  position: absolute;
  z-index: 1;
  background: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  width:100%;
  padding:0.5rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(212 212 216 / var(--tw-border-opacity));
}

.level-input {
  width: 250px;
  padding-top: 0.25rem;
  padding-left: 0.25rem;
  font-size: 16px;
  font-family: Tahoma;
}

.level {
  align-items: center;
  width: 30px;
  border-width: 0px;
  outline: 0;
  background-color: transparent;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Tahoma;
}

.icon-row {
  display: flex;
}

.card-sm {
  font-size: 1rem;
  line-height: 1.25rem
}

.type {
  display: table-cell;
}

.types {
  display: flex;
}