.filter {
  background: white;
  width: 100%;
  z-index: 2;
  position: absolute;
  margin-top: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(212 212 216 / var(--tw-border-opacity));
}

.filter-title {
  box-sizing: border-box;
  font-size: 14px;
  padding-bottom: 0.5rem;
  border-width: 0px;
  border-bottom: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(212 212 216 / var(--tw-border-opacity));
}

.filter-info-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.filter-menu {
  display:flex;
  flex-wrap: wrap;
}

.awkn-stage {
  height: 5rem;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
  align-content: flex-start;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(212 212 216 / var(--tw-border-opacity));
}

.awkn-staged {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-search {
  display: flex;
  justify-content: center;
}

.filter-search-icon {
  padding: 0.5rem;
  cursor: pointer;
  background: transparent;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(212 212 216 / var(--tw-border-opacity));
}

.awkn-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
}

.awkn-table {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 12% 12% 12% 12% 12% 12% 12%;
  justify-content: space-between;
}

.clear-icon {
  margin-left: auto;
  cursor: pointer;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(212 212 216 / var(--tw-border-opacity));
}

.awkn-filter {
  padding-top: 0.3rem;
}

.filter-column {
  width: 100%;
}

@media (min-width: 700px) {
  .filter-search-icon:hover {
    border-color: #646cff;
  }

  .clear-icon:hover {
    border-color: #646cff;
  }

  .filter-column {
    width: 50%;
  }

  .awkn-filter:hover {
    opacity:0.6;
    cursor: pointer;
  }

  .awkn-staged:hover {
    opacity:0.6;
    cursor: pointer;
  }

}
