.filter {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overscroll-behavior-y: none;
  scrollbar-width: none;
  position: relative;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
}

.filter-title {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  box-sizing: border-box;
  font-size: 14px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-width: 0px;
  border-bottom: 1px;
  border-style: solid;
}

@media (prefers-color-scheme: light) {
  .filter-title {
    background-color: white;
  }

  .filter-bottom-bar {
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  .filter-title {
    background-color: black;
  }

  .filter-bottom-bar {
    background-color: black;
  }
}

.filter-category-selection {
  display: flex;
}

.filter-catergory {
  border-width: 1px;
  border-radius: 0.5rem;
  border-style: solid;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.filter-info-header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.filter-menu-card {
  display:flex;
  flex-wrap: wrap;
}

.filter-menu-skill {
  display:flex;
  flex: 1;
}

.awkn-stage {
  height: 5rem;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
  align-content: flex-start;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
}

.awkn-staged {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-bottom-bar {
  z-index: 1;
  position: sticky;
  bottom: 0;
  border-width: 1p;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  border-width: 0px;
  border-top: 1px;
  border-style: solid;
}

.filter-bottom-icon {
  padding: 0.5rem;
  cursor: pointer;
  background: transparent;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  border-width: 1px;
  border-style: solid;
}

.filter-add-icon {
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-bottom: 0px;
  border-style: solid;
}

.skill-stage {
  flex: 1;
  overflow-y: scroll;
  overscroll-behavior-y: none;
  scrollbar-width: none;
}

.skill-list {
  position: sticky;
  bottom: 0;
}

.filter-add-skill {
  position: sticky;
  bottom: 0;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-bottom: 0px;
  border-style: solid;
}

.awkn-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
}

.awkn-table {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12%;
  justify-content: space-between;
}

.clear-icon {
  background: transparent;
  margin-left: auto;
  cursor: pointer;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  border-width: 1px;
  border-style: solid;
}

.awkn-filter {
  padding-top: 0.3rem;
}

.filter-page {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.filter-column {
  flex: 1;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
}

.filter-skill-selection{
  flex: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter-skill-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter-add-list-icon {
  padding: 0.5rem;
  cursor: pointer;
  background: transparent;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  border-width: 1px;
  border-style: solid;
}

@media (min-width: 800px) {
  .filter-menu-card {
    flex: 1;
  }

  .filter-menu-skill {
    flex: 1;
  }

  .filter-page {
    flex-direction: row;
  }

  .filter-column {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 50%;
  }

  .awkn-filter:hover {
    opacity:0.6;
    cursor: pointer;
  }

  .awkn-staged:hover {
    opacity:0.6;
    cursor: pointer;
  }

}
