:root {
  place-items: center;
  font-size: 14px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  place-items: center;
  display: flex;
  justify-content: center;
  scrollbar-width: none;
  overscroll-behavior-y: none;
  touch-action: manipulation;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, sans-serif, Tahoma, Consolas, monaco, monospace;
}

@media (min-width: 800px) {
  :root {
    font-size: 16px;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
}