.search-results {
  flex: 1;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow-y: hidden;
}

.card ~ .search-results {
  margin: 0;
  padding-top: 0;
}

.filter ~ .search-results {
  flex: 0;
  margin: 0;
  padding-top: 0;
}

.search-results-table {
  max-height: 100%;
  overflow-y: auto;
  overscroll-behavior-y: none;
  border-radius: .5rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
}

.search-row {
  background: transparent;
  box-sizing: border-box;
  padding: 0.5em;
  border-radius: .5rem;
  border: 1px solid transparent;
  font-size: 1em;
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: .5rem;
  cursor: pointer;
  transition: border-color 0.25s;
}

.search-row:hover {
  border-color: #646cff;
}

.search-row:focus-visible {
  outline: 0;
}

.search-name {
  width: 100%;
  text-align: left;
  text-overflow: ellipsis;
}

.search-id {
  font-family: Consolas,monaco,monospace;
  text-align: right;
}

.search-icon {
  width: calc(4 / 7 * 98px);
  height: calc(4 / 7 * 98px);
}

.text-sm {
  font-size: 1rem;
  line-height: 1.25rem
}