.search-table {
  box-sizing: border-box;
  position: relative;
  background: white;
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  margin-top: 0.5rem;
  border-radius: .5rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(212 212 216 / var(--tw-border-opacity));
}

.search-row {
  background: white;
  box-sizing: border-box;
  padding: 0.5em;
  border-radius: .5rem;
  border: 1px solid transparent;
  font-size: 1em;
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: .5rem;
  cursor: pointer;
  transition: border-color 0.25s;
}

.search-row:hover {
  border-color: #646cff;
}

.search-row:focus-visible {
  outline: 0;
}

.search-name {
  width: 100%;
  font-family: Tahoma;
  text-align: left;
  text-overflow: ellipsis;
}

.search-id {
  font-family: Consolas,monaco,monospace;
  text-align: right;
}

.search-icon {
  width: calc(4 / 7 * 98px);
  height: calc(4 / 7 * 98px);
}

.text-sm {
  font-size: 1rem;
  line-height: 1.25rem
}